* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.main-navigation{
    width: 20%;
    height: 100%;
    background-color: #292D32;
}
ol {
    list-style: none;
    counter-reset: step-counter;
    padding-left: 0;
    color: #626C76;
}

ol li {
    counter-increment: step-counter;
    margin-bottom: 10px; 
    cursor: pointer;
}

ol li::before {
    content: counter(step-counter); 
    background-color: #4D545A;
    color: #FFFFFF;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 13px;
    margin-bottom: 26px;
    font-weight: bold;
}

ol li:first-child::before {
    background-color: #53D56C;
}

.staff-list li:nth-child(1) {
    color: #53D56C;
}

.stage{
    margin: 30px;
}
.content-area{
    width: 80%;
    height: 100%;
}

.main-content-section{
    height: 85%;
    background-color: #F5F7FA;
    border-bottom: 2px solid #E3EAF3;
}

.select-staf{
    display: flex;
    justify-content: space-between;
    padding:26px 54px;
    position: relative;
}

.select-staf::after{
    content:"";
    height: 2px;
    width: 98%;
    background-color: #E3EAF3;
    display: block;
    position: absolute;
    bottom: -16px;
    left: 2%; 
}
.staff-users{
    width: 90%;
    margin: 60px;
    gap: 5px; 
}
.times{
    display: none;
    color: #ADBFC7;
    cursor: pointer;
}

.user{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 98%;
    margin-top: 2%;
    height: 82px;
    gap: 22px;
    cursor: pointer;
}

.image-container img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.info-container h2{
    color: #292D32;
}
.info-container p{
    color: #828F9A;
}

.pagination{
    position: relative;
    font-weight: bold;
    font-size: 12px;
    height: 15%;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 20px 60px 20px 0px;
}
.error{
    background-color: #F4BE6C;
    width: 160px;
    height: 42px;
    color: #FFFFFF;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

}

.error-content{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px; 
}


.span-error {
    border: solid 3px ;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    color: #FFFFFF;
    text-align: center;
    line-height: 19px;
}

.next{
    width: 59px;
    height: 36px;
    border-radius: 2px;
    text-transform: uppercase;
    background-color: #6C70DC;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    cursor: pointer;
}

.user.selected {
    border: 2px solid #53D56C;
}
















